.component-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 20px;
    border-radius:10px;
    font-size: large;
    font-weight: 700;
}
.component-alert-success {
    color: #1c7240;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 20px;
    border-radius:10px;
    font-size: large;
    font-weight: 700;
}
.component-alert-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    padding: 20px;
    border-radius:10px;
    font-size: large;
    font-weight: 700;
}